.netrwhist
npm-debug.log

packer_compiled.lua
packer_compiled.vim

plug.vim.old
/link/vim.symlink/plugged
/dotconfig/nvim/viml/plugins

# rbenv
/link/rbenv.symlink/shims
/link/rbenv.symlink/version
/link/rbenv.symlink/versions
/link/rbenv.symlink/sources
/link/rbenv.symlink/cache
/link/rbenv.symlink/libexec/*.dylib
/link/rbenv.symlink/src/Makefile
/link/rbenv.symlink/src/*.o
/link/rbenv.symlink/gems

node_modules/

/dotconfig/kitty/theme.conf
