[submodule "zsh/omz_custom/plugins/zsh-autosuggestions"]
	path = zsh/omz_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/omz_custom/themes/powerlevel9k"]
	path = zsh/omz_custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "zsh/omz_custom/plugins/zsh-completions"]
	path = zsh/omz_custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/omz_custom/plugins/zsh-syntax-highlighting"]
	path = zsh/omz_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/base16-shell"]
	path = zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "vendor/rbenv"]
	path = vendor/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "link/rbenv.symlink/plugins/ruby-build"]
	path = link/rbenv.symlink/plugins/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "link/rbenv.symlink/plugins/bundler"]
	path = link/rbenv.symlink/plugins/bundler
	url = https://github.com/carsomyr/rbenv-bundler.git
