.netrwhist
npm-debug.log

node_modules/

hammerspoon/local_config.lua

/dotconfig/kitty/theme.conf
/dotconfig/zsh/.zcompdump*
/dotconfig/zsh/.zsh_sessions
/dotconfig/nvim/.luarc.json
/dotconfig/nvim/lazy-lock.json
/dotconfig/lazygit/state.yml
/dotconfig/tmux/plugins
/config.mac/karabiner/automatic_backups
