[submodule "zsh/omz_custom/plugins/zsh-autosuggestions"]
	path = zsh/omz_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
  branch = master
[submodule "zsh/omz_custom/plugins/zsh-completions"]
	path = vendor/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
  branch = master
[submodule "zsh/omz_custom/plugins/zsh-syntax-highlighting"]
	path = zsh/omz_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
  branch = master
[submodule "zsh/base16-shell"]
	path = zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell
  branch = master
[submodule "vendor/git-when-merged"]
	path = vendor/git-when-merged
	url = https://github.com/mhagger/git-when-merged.git
[submodule "vendor/cacheable-api"]
	path = vendor/cacheable-api
	url = https://github.com/kiooss/cacheable-api.git
[submodule "zsh/omz_custom/themes/powerlevel10k"]
	path = zsh/omz_custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "vendor/kitty-themes/rose-pine"]
	path = vendor/kitty-themes/rose-pine
	url = https://github.com/rose-pine/kitty.git
[submodule "vendor/figlet-fonts"]
	path = vendor/figlet-fonts
	url = https://github.com/xero/figlet-fonts.git
