priority -40

snippet dt "new DateTime" b
new \DateTime('${0}')
endsnippet

snippet idoc "inheritdoc" b
/**
 * {@inheritdoc}
 */
endsnippet


snippet sfformhandling "symfony form handling" b
$form->handleRequest($request);

if ($form->isSubmitted() && $form->isValid()) {
	${0}
	return $this->redirectToRoute();
}

return $this->render('', [
	'form' => $form->createView(),
]);
endsnippet
